body{

        background-color: whitesmoke;
        color: black;
        font-size: 100%;
        -webkit-font-smoothing: antialiased;
        
    font-family: 'Baskervville', serif;
}
h1{
    font-family: 'Baskervville', serif;
    text-align: center;
    text-shadow: 0 0 3px slateblue;
}
h2{
    font-family: 'Baskervville', serif;
    font-size: 30px;
   
}
.socialmedia {
  margin-left: -2%;
  margin-top: 5%;
 text-align: center;
 padding-bottom: 1.5em;
}

.socialmedia ul {
  font-size: 3em;
  list-style-type: none;
  text-align: center;
  padding-bottom: 1.5em;
}

.socialmedia li {
  color:black;
  display: inline;
  padding: 2%;
  text-shadow: 0 0 3px slateblue;
 text-align : center;
 padding-bottom: 1.5em;
}

.socialmedia li a {
  color:black;
  text-decoration: none;
  text-align: center;
  padding-bottom: 1.5em;
}
  
 


  img{
      
      box-shadow: 0 0 3px slateblue;
      border: 9px solid skyblue;
     padding: 9px;
     max-width: 700px;
     width: 80%;
     margin: 9px auto;
      
  }




