body{

    background-color: whitesmoke;
    color: black;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    
font-family: 'Baskervville', serif;
}
h1{
    font-family: 'Dancing Script', cursive;
    color: black;
    text-align: center;
    text-shadow: 0 0 3px limegreen;
    padding: 20px;

}
h2{
    font-family: 'Dancing Script', cursive;
    color: black;
    text-align: center;
    text-shadow: 0 0 3px limegreen;
    padding: 20px;

}

h3{
    font-family: 'Dancing Script', cursive;
    color: black;
    text-align: center;
    text-shadow: 0 0 3px limegreen;
    padding: 20px;

}

     